environment:
    matrix:
        - nodejs_version: '8'
        - nodejs_version: '10'
        - nodejs_version: '12'
platform:
    - x86
    - x64
install:
    # https://github.com/appveyor/ci/issues/2921#issuecomment-486727727
    - ps: Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs_version) $env:PLATFORM
    - set PATH=%APPDATA%\npm;%PATH%
    - npm install
matrix:
    fast_finish: true
build: off
shallow_clone: true
# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true
test_script:
    - node --version
    - npm --version
    - npm run test.ci
cache:
    - '%APPDATA%\npm-cache'
